* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

header .navbar {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

header .navbar .nav-link {
  color: #ed6f2e;
}

header .container-fluid {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

.logo {
  background-color: #000000;
  height: 76px;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo img {
  margin-top: 5px;
}

.logo .brand-mobile {
  display: none;
}

#divBusca {
  width: 60%;
  padding: 0 20px;
  background: #000000b4;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

#divBusca input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 76px;
  border: none;
  outline: none;
  background: none;
  color: white;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  background-color: #000000;
  height: 76px;
  -ms-flex-item-align: center;
      align-self: center;
}

.sidebar button {
  margin-top: 15px;
}

.sidebar button .navbar-toggler-icon .menu {
  width: 100%;
}

.sidebar button .navbar-toggler-icon .menu-mobile {
  display: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-image {
  position: relative;
  background-image: url(../img/Banner.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-image .container {
  z-index: 5;
  position: relative;
}

.banner-image .container .col-md-4 {
  margin-top: 50px;
}

.banner-image .col-md-8 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #efebe5;
}

.banner-image .col-md-8 .main-title {
  margin: 50px 0;
}

.banner-image .col-md-8 .main-title .btn_1 {
  display: none;
}

.banner-image .col-md-8 h1 {
  font-size: 45px;
  font-weight: 700;
}

.banner-image .col-md-8 h4 {
  font-size: 18px;
}

.banner-image .col-md-8 h2 {
  font-size: 44px;
  font-weight: 700;
}

.banner-image:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(#252525));
  background: linear-gradient(90deg, #000, #252525);
}

.Form {
  position: relative;
  background-color: #ed6f2e;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 384px;
  height: 564px;
  padding: 52px;
  margin-bottom: 40px;
  opacity: 0.9;
}

.Form .close-form-mobile {
  display: none;
}

.Form h3 {
  margin-top: 12%;
  font-size: 28px;
  color: #fff;
  font-weight: 700;
}

.Form h6 {
  width: 250px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.Form form {
  max-width: 305px;
  width: 100%;
}

.Form input {
  width: 100%;
  height: 34px;
  background: #efebe5;
  border: none;
  padding-left: 15px;
}

.Form #form {
  margin-bottom: 10px;
}

.Form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efebe5;
  color: #171717;
  font-weight: 600;
  border: none;
  height: 40px;
  width: 100%;
  margin-top: 10px;
}

.Form button:hover {
  border: 1px solid #efebe5;
  background-color: #eb4826;
}

.Caixa {
  background-color: #ecf2f2;
  margin-top: 50px;
  width: 100%;
}

.Caixa .row {
  background-color: #ecf2f2;
}

.Caixa .row .col:nth-child(1) {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}

.Caixa .row .col:nth-child(1) img {
  height: 100%;
}

.Caixa .row .col:nth-child(2) {
  padding: 50px 20px;
}

.Caixa .Buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 400px;
}

.Caixa .Buttons .Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ed6f2e;
  padding: 5px 25px 5px 25px;
  cursor: pointer;
}

.Caixa .Buttons .Button img {
  margin-right: 10px;
}

.Caixa h2 {
  margin-top: 30px;
}

.Caixa p {
  margin-top: 20px;
}

.Caixa .btn-Equipe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Caixa .btn-Equipe button {
  background-color: #eb4826;
  color: #efebe5;
  border: none;
  padding: 8px 50px 8px 40px;
  font-size: 14px;
  font-weight: 600;
}

.Caixa .btn-Equipe button:hover {
  background-color: #ed6f2e;
}

.Caixa .btn-Equipe button img {
  padding-right: 10px;
  margin-bottom: 3px;
}

.service {
  margin-top: 100px;
  width: 100%;
}

.service .inform {
  padding: 50px;
  padding-left: 100px;
}

.service .inform h2 {
  font-weight: bold;
  font-size: 3em;
  max-width: 400px;
  margin-bottom: 50px;
  color: #393937;
}

.service .inform h3 {
  color: #efebe5;
  width: 0;
}

.service .inform .col-6 {
  padding: 0px;
}

.service .inform .coluna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  margin: 50px 0;
}

.service .inform .coluna .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.service .inform .coluna img {
  min-height: 50px;
  min-width: 50px;
  margin-right: 20px;
}

.service .inform .coluna h4 {
  font-size: 1.3em;
  color: #393937;
}

.service .inform .coluna p {
  font-size: 1em;
  color: #393937;
  opacity: 0.6;
}

.service .inform button {
  margin-top: 150px;
  outline: none;
  border: none;
  padding: 10px 20px;
  background: #454545;
  color: white;
  font-weight: bold;
}

.service .inform button:hover {
  cursor: pointer;
  background: #eb4826;
  border: 1px solid #efebe5;
}

.service .accordion {
  background-color: #454545;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 50px 0;
  width: 100%;
}

.service .accordion h3 {
  font-weight: bold;
  font-size: 3em;
  color: white;
}

.service .accordion .card {
  width: 600px;
}

.service .btn-primary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .row {
  margin: 0;
  padding: 0;
  background: #ed6f2e;
}

.service .row .col-6 {
  padding: 0;
}

.service .carousel {
  margin: 50px 0;
}

.service .carousel .carousel-item button {
  position: relative;
  border: 2px solid #eb4826;
  border-radius: 0;
  color: white;
  font-weight: bold;
}

.service .carousel .carousel-item button:hover {
  background: #eb4826;
}

.service .carousel .carousel-item button[aria-expanded="true"] {
  background: #eb4826;
}

.service .carousel .carousel-item button:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 20px;
  height: 20px;
  background: #ed6f2e;
}

.service .carousel .carousel-control-next {
  position: absolute;
  right: -2rem;
}

#agendarVisita {
  background: #454545;
  padding-top: 2.9rem;
  padding-bottom: 2.9rem;
}

#agendarVisita h3 {
  color: #ed6f2e;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3em;
}

#agendarVisita p {
  color: #efebe5;
}

#agendarVisita .col-4 {
  padding-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#agendarVisita button {
  background: #ed6f2e;
  color: #efebe5;
  border: none;
  padding: 0.5rem;
  font-size: 0.9rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#agendarVisita button:last-child {
  background: #eb4826;
}

#agendarVisita button:hover {
  cursor: pointer;
  background: #eb4826;
  border: 1px solid #efebe5;
}

#agendarVisita button:last-child:hover {
  background: #ed6f2e;
}

#agendarVisita h4 {
  font-family: sans-serif;
  font-weight: bold;
  color: #efebe5;
}

#maps {
  background: #171717;
}

footer {
  background: #171717;
  color: #efebe5;
  padding: 50px 100px;
  padding-bottom: 5rem;
}

footer .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 100px;
  opacity: 0.5;
}

footer .division-line {
  width: 100%;
  height: 1px;
  margin: 50px 0;
  background-color: rgba(255, 255, 255, 0.432);
}

@media (max-width: 1200px) {
  .fundo .container .col-6.form-mobile-open {
    display: block;
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10;
  }
  .fundo .container .col-6.form-mobile-open .Form {
    width: 95%;
    height: 70vh;
    opacity: 1;
    padding: 50px 10px;
  }
  .Form .close-form-mobile {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2.5em;
    height: 2.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #efebe5;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
  }
  .sidebar button .navbar-toggler-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebar button .navbar-toggler-icon .menu {
    display: none;
  }
  .sidebar button .navbar-toggler-icon .menu-mobile {
    height: 100%;
    display: block;
  }
  .fundo .container {
    margin: 50px auto;
  }
  .fundo .container .col-md-8 {
    width: 100%;
    height: 80vh;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fundo .container .col-md-8 .main-title:nth-child(2) {
    margin-top: auto;
    margin-bottom: 0;
  }
  .fundo .container .col-md-8 .main-title:last-child h5 {
    font-weight: lighter;
  }
  .fundo .container .col-md-8 .main-title:last-child h3 {
    font-weight: bolder;
  }
  .fundo .container .col-md-8 .main-title:last-child .btn_1 {
    display: block;
    font-weight: bold;
    font-size: 2em;
    background: #ed6f2e;
    padding: 10px 20px;
  }
  .fundo .container .col-md-8 .main-title:last-child .btn_1 p {
    margin: 0;
  }
  .fundo .container .col-md-8 .main-title:last-child .btn_1:hover {
    cursor: pointer;
    background: #eb4826;
    border: 1px solid #efebe5;
  }
  .fundo .container .col-6 {
    display: none;
  }
  #agendarVisita .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  #agendarVisita .row .col-8 {
    width: 100%;
  }
  #agendarVisita .row .col-4 {
    width: 100%;
    padding: 0;
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #agendarVisita .row .col-4 button {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
  .Caixa .row .col h2,
  .Caixa .row .col p {
    width: 80%;
  }
  .Caixa .row .col .btn-Equipe {
    width: 80%;
  }
  .Caixa .row .col > img {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .Caixa {
    background: none;
  }
  .Caixa .Buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Caixa .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Caixa .row .col {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Caixa .btn-Equipe {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .service .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .service .row .col-6 {
    width: 100%;
  }
  .service .coluna .wrapper {
    min-width: 100px;
  }
  .logo .navbar-brand {
    display: none;
  }
  .logo .navbar-brand.brand-mobile {
    display: block;
    height: 100%;
  }
  .logo .navbar-brand.brand-mobile img {
    height: 80%;
  }
}

@media (max-width: 800px) {
  .service .inform {
    padding: 50px;
  }
  .service .inform button {
    margin: 50px auto;
    width: 100%;
  }
  .service .inform .coluna {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .service .accordion .card {
    width: 60vw;
  }
  #txtBusca::-webkit-input-placeholder {
    color: transparent;
  }
  #txtBusca:-ms-input-placeholder {
    color: transparent;
  }
  #txtBusca::-ms-input-placeholder {
    color: transparent;
  }
  #txtBusca::placeholder {
    color: transparent;
  }
  footer {
    padding: 50px 5%;
  }
  footer .infos {
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .btn_1 {
    background-color: #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    height: unset;
    margin: 0 auto;
  }
  .btn_1 p {
    text-align: center;
    color: #efebe5;
  }
}
/*# sourceMappingURL=styles.css.map */